Repository TheJumpCloud/support, pull requests merged in 2023-10, with the labels that each got.

#527 Sa 3606 update commands json ci
  .circleci/scripts/parse_commands_to_json.py
  .circleci/scripts/setLinks.py
  .circleci/scripts/validate_commands_gallery_md.py
  .github/scripts/__init__.py
  .github/scripts/build_commands_gallery.py
  .github/scripts/requirements.txt
  .github/scripts/tests/__init__.py
  .github/scripts/tests/test_build_commands_gallery.py
  .github/workflows/commands-gallery-ci.yml
  .gitignore
Labels: Commands Gallery

#530 Release PowerShell Module 2.8.0
  PowerShell/ModuleChangelog.md
Labels: minor, PowerShell Module

#531 2.8.0 + validation tests
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/moduleValidation.Tests.ps1
  PowerShell/ModuleChangelog.md
Labels: minor, PowerShell Module

#535 SA-3640-Get-JCassociation-Type-Bug-Fix
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Private/Association/Format-JCAssociation.ps1
  PowerShell/JumpCloud Module/Public/Association/Get-JCAssociation.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/moduleValidation.Tests.ps1
  PowerShell/ModuleChangelog.md
Labels: PowerShell Module, manual

#540 Changelog date change
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Labels: PowerShell Module, manual
