Repository TheJumpCloud/support, pull requests merged in 2024-05, with the labels that each got.

#568 Dc 424 replace deprecated ms online cmdlets
  PowerShell/JumpCloud.Office365.SSO/JumpCloud.Office365.SSO.psd1
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Get-MGGraphDomains.ps1
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Get-MSOnlineDomains.ps1
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Test-MGGraph.ps1
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Test-MSOnline.ps1
  PowerShell/JumpCloud.Office365.SSO/Public/Disable-JumpCloud.Office365.SSO.ps1
  PowerShell/JumpCloud.Office365.SSO/Public/Enable-JumpCloud.Office365.SSO.ps1
  PowerShell/JumpCloud.Office365.SSO/Public/Show-JumpCloud.Office365.SSO.ps1
  scripts/windows/ImmutableIDUpdate.ps1
Labels: minor, PowerShell Module

#576 CUT-4043: Remove SystemToken from Get-JCSystem
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Users/Get-JCUser.ps1
  PowerShell/ModuleChangelog.md
Labels: PowerShell Module, patch

#574 UN-2212 Command Template for Removing Extra BitLocker Numerical Passwords
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Remove Extra Bitlocker Recovery Passwords.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Labels: Commands Gallery

#578 CUT-4045: New staged users needing exclusionDays instead of exclusionUntil
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Users/New-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/New-JCUser.Tests.ps1
  PowerShell/ModuleChangelog.md
Labels: minor, PowerShell Module

#579 JumpCloud Module 2.10.2 Release
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Users/Get-JCUser.ps1
  PowerShell/JumpCloud Module/Public/Users/New-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/New-JCUser.Tests.ps1
  PowerShell/ModuleChangelog.md
Labels: PowerShell Module, patch
