Repository TheJumpCloud/support, pull requests merged in 2024-06, with the labels that each got.

#582 Cut 3380 radius ci cd
  .github/workflows/radius-module-ci.yml
  scripts/automation/Radius/Extensions/extensions-emailSAN.cnf
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/HashFunctions/Test-UserFromHash.ps1
  scripts/automation/Radius/Functions/Private/Settings/Update-JCRUsersJson.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/JumpCloud-Radius.psm1
  scripts/automation/Radius/Start-RadiusDeployment.ps1
  scripts/automation/Radius/Tests/HelperFunctions.ps1
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
  scripts/automation/Radius/Tests/ModuleValidation/ModuleVersion.Tests.ps1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
  scripts/automation/Radius/readme.md
Labels: major, Radius Module

#573 NB-11998: Windows App Launches After Install
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Labels: bug, Commands Gallery

#585 CUT-4021: Add SystemInsights Readable Format for bytes
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystemInsights.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Labels: minor, PowerShell Module
