Repository TheJumpCloud/support, pull requests merged in 2024-12, with the labels that each got.

#628 Update Mac - Install Chrome DMG.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Install Chrome DMG.md
Labels: minor

#627 Fix hyphen user generation and EmailSAN certificate replacement
  .github/workflows/radius-module-ci.yml
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Labels: patch, Radius Module

#632 Get User to Device Reports with SDK Functions
  scripts/automation/Radius/Functions/Private/Reports/Get-LatestUserToDeviceReport.ps1
  scripts/automation/Radius/Functions/Private/Reports/Get-ReportByID.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Labels: patch, Radius Module

#631 Cut-4468-cascade-manager-remove-jc-user
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Install Chrome DMG.md
  PowerShell/JumpCloud Module/Docs/Remove-JCUser.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Users/Remove-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/Remove-JCUser.Tests.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
  scripts/windows/UninstallWindowsAgent.ps1
Labels: minor, PowerShell Module
