Repository TheJumpCloud/support, pull requests merged in 2024-09, with the labels that each got.

#602 CUT-4071: Get-JCSystemKB
  PowerShell/JumpCloud Module/Docs/Connect-JCOnline.md
  PowerShell/JumpCloud Module/Docs/Get-JCSystemKB.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystemKB.ps1
  PowerShell/JumpCloud Module/Tests/Public/Systems/Get-JCSystemKB.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Labels: minor, PowerShell Module

#606 JumpCloud Module 2.14.0 Release
  PowerShell/JumpCloud Module/Docs/Connect-JCOnline.md
  PowerShell/JumpCloud Module/Docs/Get-JCSystemKB.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Policies/Get-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystemKB.ps1
  PowerShell/JumpCloud Module/Tests/Public/Systems/Get-JCSystemKB.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Labels: minor, PowerShell Module

#605 Cut 4293 enrollment prompt if admin user
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Enroll MDM System in DEP.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Labels: Commands Gallery

#607 Update windows install script
  scripts/windows/InstallWindowsAgent.ps1
Labels: patch
