Repository TheJumpCloud/support, pull requests merged in 2025-01, with the labels that each got.

#634 Update Policy Results Tests to run without SetupOrg
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyResults/Get-JCPolicyResult.Tests.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
  PowerShell/ModuleChangelog.md
Labels: PowerShell Module, manual

#636 Use Universal Time to Compare Certificates
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-ExpiringCertInfo.ps1
  scripts/automation/Radius/Functions/Private/Commands/Invoke-CommandsRetry.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-GenerationMenu.ps1
  scripts/automation/Radius/Functions/Private/Settings/New-JCRSettingsFile.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Labels: patch, Radius Module

#638 CUT-3740: Radius Single User Array Fix
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/UserTable/Set-UserTable.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Labels: patch, Radius Module

#639 Cut 4091 verify password for cert key
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Functions/Private/Menus/Get-ResponsePrompt.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
Labels: patch, Radius Module

#644 root cert menu
  .gitignore
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Functions/Private/Menus/Get-ResponsePrompt.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RootCAGenerationMenu.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/JumpCloud-Radius.psm1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
  scripts/automation/Radius/readme.md
Labels: patch, Radius Module

#645 CUT-4570: PrimarySystemUser
  PowerShell/JumpCloud Module/Docs/Get-JCSystem.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSystem.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Private/NestedFunctions/Convert-JCUserToID.ps1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Systems/Set-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Users/New-JCUser.ps1
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCDeviceUpdateTemplate.ps1
  PowerShell/JumpCloud Module/Tests/Private/NestedFunctions/Convert-JCUserToID.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Systems/Set-JCSystem.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Labels: minor, PowerShell Module
