Repository TheJumpCloud/support, pull requests merged in 2025-02, with the labels that each got.

#647 Tests for radius membership
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/HashFunctions/Test-UserFromHash.ps1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Labels: patch, Radius Module

#648 update forget command to include SSID
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Forget RADIUS WiFi Network.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Labels: Commands Gallery, patch

#651 CUT-4632: Fix CrowdStrike sensor download filter
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install CrowdStrike Falcon Agent.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Labels: Commands Gallery

#655 CUT-4602: Multi-Group Radius Report Function
  scripts/automation/Radius/Functions/Public/Get-JCRCertReport.ps1
  scripts/automation/Radius/JumpCloud-Radius.psd1
  scripts/automation/Radius/Tests/Public/Get-JCRCertReport.Tests.ps1
Labels: minor, Radius Module
