Repository TheJumpCloud/support, pull requests merged in 2025-03, with the labels that each got.

#657 Remove set desktop background command
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set Desktop Background.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Labels: Commands Gallery, patch

#656 AR-741 MacOS remove agent script sync with removeAgent script
  scripts/macos/remove_mac_agent.sh
Labels: minor

#661 users.json command names are not being recorded correctly
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Labels: patch, Radius Module
